<html>
	<head>
		<title>BIG3</title>
		<link href="BIG3.css" type="text/css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	</head>
<body ng-app="myApp">
		<h1>BIG3</h1>
		
	<div ng-controller="buttons">
		<h3>{{xrecords}} Records | {{xchallenges}} Challenges Completed</h3>
		<p>{{xsets}} Sets | {{xreps}} Reps | {{xweight}} Pounds | {{xgains}} Gains</p>
		<h2>Level {{xlevel}}: {{xcurrent}} / {{xtotal}} Gains</h2>
		<div id="myProgress">
  			<div id="myBar" ng-style="{width : progress};">{{progress}}</div>
		</div>
		<hr>
	
		<input type="button" ng-class="{'btn-warning': benchButton}" ng-click="changeBench()" onclick="refreshBench()" value="Bench">
		<input type="button" ng-class="{'btn-warning': squatButton}" ng-click="changeSquat()" onclick="refreshSquat()" value="Squat">
		<input type="button" ng-class="{'btn-warning': deadButton}" ng-click="changeDead()" onclick="refreshDead()" value="Deadlift">

		<hr>

		<div>
			<h2>Enter Set</h2>
			<p>Weight: <input id="weight" type="text" value="100" ng-model="weight">{{weight}}</p>
			<p>Reps: <input id="reps" type="text" value="10" ng-model="reps">{{reps}}</p>
			<input type="button" onclick="addSet();addRecord();addChallenges();addStats();" ng-click="refresh();changeTotals()" value="Add">
			<p id="response"></p>
			<p id="response2"></p>
			<p id="response3"></p>
			<p id="response4"></p>
		</div>
		<hr>
		
		<div class="tabs">

			<div class="tab">
			    <input class="tab-radio" type="radio" id="tab-1" name="tab-group-1" checked>
			    <label class="tab-label" for="tab-1">History</label>

			    <div class="tab-panel" id="table-wrapper">
					<div class="tab-content" id="table-scroll">
						<span class="label">Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</span><br>
						<table class="table">
							<thead>
								<tr class="odd">
									<th>
										<a href="#" ng-click="orderByField='set'; reverseSort = !reverseSort">
	        							Set <span ng-show="orderByField == 'set'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
	          							</a>
									</th>
									<th>
										<a href="#" ng-click="orderByField='date'; reverseSort = !reverseSort">
	        							Date <span ng-show="orderByField == 'date'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
	          							</a>
	          						</th>
									<th>
										<a href="#" ng-click="orderByField='weight'; reverseSort = !reverseSort">
	        							Weight <span ng-show="orderByField == 'weight'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
	          							</a>
									</th>
									<th>
										<a href="#" ng-click="orderByField='reps'; reverseSort = !reverseSort">
	        							Reps <span ng-show="orderByField == 'reps'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
	          							</a>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in hist|orderBy:orderByField:reverseSort track by $index">
									<td ng-if="$odd" class="odd">{{x.set}}</td>
									<td ng-if="$even" class="even">{{x.set}}</td>
									<td ng-if="$odd" class="odd">{{x.date}}</td>
									<td ng-if="$even" class="even">{{x.date}}</td>
									<td ng-if="$odd" class="odd">{{x.weight}}</td>
									<td ng-if="$even" class="even">{{x.weight}}</td>
									<td ng-if="$odd" class="odd">{{x.reps}}</td>
									<td ng-if="$even" class="even">{{x.reps}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="tab">
			    <input class="tab-radio" type="radio" id="tab-2" name="tab-group-1">
			    <label class="tab-label" for="tab-2">Stacks</label>

			    <div class="tab-panel" id="table-wrapper">
					<div class="tab-content">
						<span class="label">Ordered By: {{orderByField2}}, Reverse Sort: {{reverseSort2}}</span><br>						
						<table class="table">
							<tr class="odd">
								<th>
									<a href="#" ng-click="orderByField2='reps'; reverseSort2 = !reverseSort2">
        							Reps <span ng-show="orderByField2 == 'reps'"><span ng-show="!reverseSort2">^</span><span ng-show="reverseSort2">v</span></span>
          							</a>
								</th>
								<th>
									<a href="#" ng-click="orderByField2='weight'; reverseSort2 = !reverseSort2">
        							Weight <span ng-show="orderByField2 == 'weight'"><span ng-show="!reverseSort2">^</span><span ng-show="reverseSort2">v</span></span>
          							</a>
								</th>
								<th>
									<a href="#" ng-click="orderByField2='records'; reverseSort2 = !reverseSort2">
        							Records <span ng-show="orderByField2 == 'records'"><span ng-show="!reverseSort2">^</span><span ng-show="reverseSort2">v</span></span>
          							</a>
								</th>
							</tr>
							<tr ng-repeat="x in stack|orderBy:orderByField2:reverseSort2" ng-class="{red: x.records == 0, green: x.records > 1, silver: x.records == 4, gold: x.records > 4}">
								<td >{{x.reps}}</td>
								<td >{{x.weight}}</td>
								<td >{{x.records}}</td>
							</tr>
						</table>
						<div class="graphs">
							<fusioncharts type="column2d" datasource="{{myDataSource}}">
							</fusioncharts>
						</div>
					</div>
				</div>
			</div>

			<div class="tab">
			    <input class="tab-radio" type="radio" id="tab-3" name="tab-group-1">
			    <label class="tab-label" for="tab-3">Pumps</label>

			    <div class="tab-panel" id="table-wrapper">
					<div class="tab-content">
						<span class="label">Ordered By: {{orderByField3}}, Reverse Sort: {{reverseSort2}}</span><br>
						<table class="table">
							<tr class="odd">
								<th>
									<a href="#" ng-click="orderByField3='weight'; reverseSort2 = !reverseSort2">
        							Weight <span ng-show="orderByField3 == 'weight'"><span ng-show="!reverseSort2">^</span><span ng-show="reverseSort2">v</span></span>
          							</a>
								</th>
								<th>
									<a href="#" ng-click="orderByField3='reps'; reverseSort2 = !reverseSort2">
        							Reps <span ng-show="orderByField3 == 'reps'"><span ng-show="!reverseSort2">^</span><span ng-show="reverseSort2">v</span></span>
          							</a>
								</th>
								<th>
									<a href="#" ng-click="orderByField3='records'; reverseSort2 = !reverseSort2">
        							Records <span ng-show="orderByField3 == 'records'"><span ng-show="!reverseSort2">^</span><span ng-show="reverseSort2">v</span></span>
          							</a>
								</th>
							</tr>
							<tr ng-repeat="x in pump|orderBy:orderByField3:reverseSort2" ng-class="{red: x.records == 0, green: x.records > 1, silver: x.records == 4, gold: x.records > 4}">
								<td >{{x.weight}}</td>
								<td >{{x.reps}}</td>
								<td >{{x.records}}</td>
							</tr>
						</table>
						<div class="graphs">
							<fusioncharts type="column2d" datasource="{{myDataSource2}}">
							</fusioncharts>
						</div>
					</div>
				</div>
			</div>

			<div class="tab">
			    <input class="tab-radio" type="radio" id="tab-4" name="tab-group-1">
			    <label class="tab-label" for="tab-4">Challenges</label>

			    <div class="tab-panel" id="table-wrapper">
					<div class="tab-content">
						<span class="label">Ordered By: {{orderByField4}}, Reverse Sort: {{reverseSort2}}</span><br>
						<table class="table">
							<tr class="odd">
								<th>
									<a href="#" ng-click="orderByField4='num'; reverseSort2 = !reverseSort2">
        							Number <span ng-show="orderByField4 == 'num'"><span ng-show="!reverseSort2">^</span><span ng-show="reverseSort2">v</span></span>
          							</a>
								</th>
								<th>Challenge</th>
								<th>
									<a href="#" ng-click="orderByField4='challenge'; reverseSort2 = !reverseSort2">
        							Status <span ng-show="orderByField4 == 'challenge'"><span ng-show="!reverseSort2">^</span><span ng-show="reverseSort2">v</span></span>
          							</a>
								</th>
							</tr>
							<tr ng-repeat="x in challenge|orderBy:orderByField4:reverseSort2" ng-class="{green: x.challenge == 'Complete!!', red: x.challenge != 'Complete!!'}">
								<td>{{x.num}}</td>
								<td >{{x.title}}</td>
								<td >{{x.challenge}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<div class="tab">
			    <input class="tab-radio" type="radio" id="tab-5" name="tab-group-1">
			    <label class="tab-label" for="tab-5">Stats</label>

			    <div class="tab-panel" id="table-wrapper">
					<div class="tab-content">
						<table class="table">
							<tr class="odd">
								<th>Gains</th>
								<td>{{sgains}}</td>	
							</tr>
							<tr class="even">
								<th>Records</th>
								<td>{{srecords}}</td>	
							</tr>
							<tr class="odd">
								<th>Challenges</th>
								<td>{{schallenges}}</td>
							</tr>
							<tr class="even">
								<th>Sets</th>
								<td>{{ssets}}</td>
							</tr>
							<tr class="odd">
								<th>Reps</th>
								<td>{{sreps}}</td>
							</tr>
							<tr class="even">
								<th>Weight</th>
								<td>{{sweight}} pounds</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="variables.js"></script>
<script src="sets.js"></script>
<script src="refresh.js"></script>
<script src="records.js"></script>
<script src="challenges.js"></script>
<script src="stats.js"></script>
<script src="buttons.js"></script>
<script src="fusioncharts.js"></script>
<script src="fusioncharts.charts.js"></script>
<script src="angular-fusioncharts.min.js"></script>
</body>
</html>

